body {
  padding-top: 0px;
  background-color: #333;
  color: #666;
}
.container-main{
	background-color:#f4f4f4;
	overflow: auto;
	border-radius: 10px;
}
#logo{
	width:150px;
	height:80px;
	margin-left:-20px;
}
.logo{
	padding: 15px 0;
}
.navbar{
	margin-bottom: 20px;
	border-radius: 0;
	border:0;
	background:#f4f4f4;
}
/*Carousel Style*/

#mycarousel{
	margin-bottom: 20px;
}
#mycarousel .carousel-caption{
	left: 0;
	right: 0;
	bottom: 0;
	text-align: left;
	padding: 10px;
	background:rgba(0,0,0,0.8);
	text-shadow: none;
}

#mycarousel .carousel-caption h4{
	color: #fff;

}

#mycarousel .carousel-caption p{
	padding: 0;
	margin: 0;
}

#mycarousel .list-group{
	position: absolute;
	top: 0;
	right: 0;
}

#mycarousel .list-group-item{
	border-radius: 0;
	cursor: pointer;

}

#mycarousel .list-group .active{
	background:#eee;
	border: 0;
	color: #666;

}
#mycarousel .list-group h4{
	font-size: 14px;
	padding: 0 !important;
	margin: 0 !important;
	padding-top: 5px;
}



#mycarousel .img-slide{
	width: 80px;
	height: 90%;
	float: left;
	margin-right: 5px;
}
.post-info{
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: #ccc 1px solid;
}



@media(min-width: 992px){
	#mycarousel{padding-right: 33.3333%;}
	#mycarousel .carousel-controls{display: none;}
}
@media(max-width: 991px){
	.carousel-caption p, #mycarousel .list-group{display: none;}
}
@media(max-width: 1000px){
	.slider-list p{display: none;}
}